html{
	max-width: 1200px;
}
h1{
	text-align: center;
}
.info{
	padding: 30px;
	text-align: left;
	position: relative;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.weather{
	margin: 30px;
	padding: 0, 50px;

}
.city{
	margin: 30px;
	text-align: center;
}
#map_canvas{
	text-align: center;
	margin: 20px;	
}

img{
	max-width:100%;
	height:auto!important;
	width:auto\9
}
